@font-face{
	font-family: 'Kayak Sans Bold';
	src: url("Fonts/kayak-sans-family/Kayak Sans Bold.otf");
	font-weight: bold;
}

@font-face{
	font-family: 'Kayak Sans Regular';
	src: url("Fonts/kayak-sans-family/Kayak Sans Regular.otf");
	font-weight: normal;
}

@font-face{
	font-family: 'Kayak Sans Light';
	src: url("Fonts/kayak-sans-family/Kayak Sans Light.otf");
	font-weight: lighter;
}


body{
	margin: 0px;
}

.header{
	height: 550px;
	width: 100%;
	background-image: url(img/Sliced-Onion.png), url(img/green.png), url(img/salat.png); 
	background-repeat: no-repeat; 
	background-size: 190px, 85px 85px, 1050px; 
	background-position: 550px 310px, 615px 275px, top right;
	background-color: #f4f5f7; 
}

.content-shape{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}

.main-content{
	padding-top: 75px;
}

h1{
	font-family: 'Kayak Sans Bold';
	font-size: 50px;
	width: 420px;
}

.main-content-green{
	color: #5fb709;
}

.main-content-p{
	font-family: 'Kayak Sans Regular';
	font-size: 21px;
	opacity: 0.8;
}

.main-content-a{
	font-size: 25px;
	font-family: 'Kayak Sans Bold';
	background-color: #6ece0f;
	color: #fff;
	display: flex;
	align-items: center;
	width: 220px;
	height: 70px;
	margin-top: 50px; 
	border-radius: 10px;
}

.main-content-a a{
	margin: 0 auto;
	color: #fff;
	text-decoration: none;
}

.sign-up{
	font-size: 19px;
	font-family: 'Kayak Sans Bold';
	background-color: #6ece0f;
	color: #fff;
	width: 115px;
	height: 45px;
	display: flex;
	align-items: center;
	float: right;
	margin: 25px 0px;
	border-radius: 10px;
}

.sign-up a {
	margin: 0 auto;
	color: #fff;
	text-decoration: none;
}



.find-food{
	height: 500px;
	width: 100%;
	background-image: url('img/find-food-main.png'), url('img/find-food-green.png'); 
	background-repeat: no-repeat;
	background-size: 400px, 130px;
	background-position: 10% center, 75% 0%;
}

.find-food-content{
	padding: 100px 0px 0px 500px;
}

.find-food-content h2{
	font-family: 'Kayak Sans Bold';
	font-size: 50px;
	width: 670px;
}

.find-food-content input{
	font-family: 'Kayak Sans Regular';
	font-size: 16px;
	padding: 30px 270px 30px 25px;
	border-radius: 10px;
	border-color: #9b9a9a;
	border-size:1px;
}

.find-food-content a{
	font-family: 'Kayak Sans Bold';
	font-size: 23px;
	background-color: #5fb709;
	padding: 25px 50px;
	color: #fff;
	border-radius: 10px;
	border-color: #fff; 
	text-decoration: none;
}





.local-restaurants{
	width: 100%;
	height: 620px;
	background-color: #f4f5f7;
	background-image: url('img/broken-egg.png'), url('img/green-line.png'), url('img/green-line-1.png'), url('local-restaurants-salat.png');
	background-repeat: no-repeat;
	background-position: 93.5% 5%, 17% 10%, 17% 13%, 100% 0% ;
	background-size: 200px, 117px, 117px, 1000px;
	padding-top: 200px;
}

.local-restaurants h2{
	font-family: 'Kayak Sans Bold';
	font-size: 45px;
	width: 700px;
	margin: 0;
}

.local-restaurants a{
	font-family: 'Kayak Sans Bold';
	font-size: 23px;
	background-color: #5fb709;
	padding: 25px 50px;
	color: #fff;
	border-radius: 10px;
	border-color: #fff; 
	text-decoration: none;
	display: block;
	width: 100px;
	margin: 50px 0px 0px 0px;
}

.local-restaurants-mobile{
	background-image: url('img/wi-fi.png'), url('img/battery.png'), url('img/local-restaurants-mobile.png'), url('img/mobile-shadow.png');
	height: 700px;
	width: 350px;
	background-repeat: no-repeat;
	position: absolute;
	background-size: 11px, auto, 350px, 330px;
	background-position: 22% 3%, 78% 3%, 0% 0%, 0% 90%; 
	left: 750px;
	top: 1200px;
}

.mobile-text-1{
	font-family: 'Kayak Sans Bold';
	font-size: 11px;
	position: absolute;
	left: 14%;
	top: 1.5%;
}

.mobile-text-2{
	font-family: 'Kayak Sans Bold';
	font-size: 11px;
	position: absolute;
	left: 67%;
	top: 2%;
}

.mobile-text-3{
	font-family: 'Kayak Sans Regular';
	font-size: 10px;
	position: absolute;
	left: 35%;
	top: 9.5%;
	opacity: 0.8;
}

.mobile-text-4{
	font-family: 'Kayak Sans Regular';
	font-size: 12px;
	position: absolute;
	left: 15%;
	top: 10.5%;
	opacity: 0.8;
}

.mobile-text-5{
	font-family: 'Kayak Sans Regular';
	font-size: 14px;
	position: absolute;
	left: 15%;
	top: 41%;
	opacity: 0.8;
}

.mobile-text-6{
	font-family: 'Kayak Sans Regular';
	font-size: 14px;
	position: absolute;
	left: 60%;
	top: 41%;
	opacity: 0.8;
}

.mobile-text-7{
	font-family: 'Kayak Sans Regular';
	font-size: 10px;
	position: absolute;
	left: 15%;
	top: 45%;
	opacity: 0.8;
}

.mobile-text-8{
	font-family: 'Kayak Sans Regular';
	font-size: 14px;
	position: absolute;
	left: 15%;
	top: 70%;
	opacity: 0.8;
}

.mobile-text-9{
	font-family: 'Kayak Sans Regular';
	font-size: 10px;
	position: absolute;
	left: 58%;
	top: 71.25%;
	opacity: 0.8;
}








.place-order{
	width: 100%;
	height: 650px;
	background-image: url('img/place-order-salat.png'), url('img/place-order-mushroom.png'), url('img/place-order-img.png'), url('img/green-line.png'), url('img/green-line.png');
	background-repeat: no-repeat;
	background-size: 1400px, 200px, 200px, auto, auto;
	background-position: 0% 0%, 70% 0%, 103% 50%, 50% 80%, 50% 83%;
}

.place-order-content{
	font-family: 'Kayak Sans Bold';
	font-size: 30px;
	width: 550px;
	padding: 250px 0px 0px 500px;
}







.track-your-food{
	width: 100%;
	height: 700px;
	background-color: #f1f2f4;
	background-image: url('img/track-food-mobile.png'), url('img/track-food-1.png'), url('img/track-food-2.png'), url('img/track-food-sauce.png'), url('img/track-food-road.png');
	background-repeat: no-repeat;
	background-size: 300px, 200px, 200px, 200px, 100%;
	background-position: 70% 10%, 15% 70%, 35% 85%, 40% 0%, 0% 10%;
}

.track-your-food-content{
	font-family: 'Kayak Sans Bold';
	font-size: 30px;
	width: 600px;
	padding-top: 130px;
}






.get-app{
	width: 100%;
	height: 800px;
	background-color: #f8f8fa;
	background-image: url('img/app-store.png'), url('img/google-play.png'), url('img/ap-icon.png'), url('img/get-app-main.png'), url('img/get-app-salat.png'), url('img/get-app-shape.png'), url('img/get-app-branch.png'), url('img/green-line.png'), url('img/green-line.png');
	background-repeat: no-repeat;
	background-position: 62% 50%, 50% 50%, 50% 30%, -10% -40%, 95% 3%, 65% 70%, 100% 65%, 40% 10%, 40% 12%;
	background-size: 10%, 10%, 10%, 100%, 15%, 13%, 7%, 7%, 7%;
}

.get-app-content{
	font-family: 'Kayak Sans Bold';
	font-size: 30px;
	padding-top: 15%;
	padding-left: 57%;
}









.services{
	width: 100%;
	height: 500px;
	background-color: #edeef0;
}

.container{
	width: 75%;
	margin: 0 auto;
}

.services-content{
	display: flex;
	justify-content: space-between;
}

.services-item{
	display: block;
	padding-top: 150px;
}


.service-name{
	font-family: 'Kayak Sans Bold';
	font-size: 35px;
}

.service-text{
	font-family: 'Kayak Sans Regular';
	font-size: 20px;
	width: 100%;
}

.service-button{
	font-family: 'Kayak Sans Bold';
	font-size: 23px;
	background-color: #5fb709;
	padding: 20px 40px;
	color: #fff;
	border-radius: 10px;
	border-color: #fff; 
	text-decoration: none;
	margin-top: 40px;
	display: block;
	width: 120px;
}

.line{
	position: absolute;
	left: 49%;
	right: 51%;
	background-color: #b7b7b7;
	width: 2px;
	height: 55%;
	margin-top: 7%;
}

.item-1{
	background-image: url('img/service-item-1.png');
	background-repeat: no-repeat;
	background-position: 0% 30%;
}

.item-2{
	background-image: url('img/service-item-2.png');
	background-repeat: no-repeat;
	background-position: 0% 30%;
}











.footer{
	background-color: #262626;
	height: 300px;
	padding-top: 100px;
}

.footer-content{
	border-top: 1px solid #3d3d3d;
	display: flex;
}

.footer-content-main{
	display: flex;
}






.footer-left{
	width: 20%;
}

.language{
	display: flex;
	width: 140px;
	border-bottom: 1px solid #3d3d3d;
	height: 40px;
	margin-top: 20px;
}

.footer-left p{
	color: #fff;
	font-family: 'Kayak Sans Regular';

}

.img-1{
	margin-top: 10px;
	margin-right: 10px;
}

.img-2{
	margin-top: 21px;
	margin-left: 30px;
}


.soc{
	margin-left: -20px;
	margin-top: 10px;
}


.company{
	font-family: 'Times New Roman';
	font-weight: 400;
	font-size: 16px;
	opacity: 0.2;
	margin-top: 150px;
}




.columns{
	display: flex;
	width: 50%;
}

.column{
	display: flex;
	flex-direction: column;
	font-family: 'Kayak Sans Light';
	margin-left: 50px;
}

.column a{
	text-decoration: none;
	color: #fff; 
	margin-top: 30px;
}




.apps{
	float: right;
	margin-top: 15px;
}

.apps-text{
	font-family: 'Kayak Sans Regular';
	font-size: 16px;
	color: #fff;
}

.apps-images{
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	width: 100%;
}







